SUBMISSION_2024/dataset/*.csv
.DS_Store
*DS_Store*
.DS_Store/
DAC-009_Hands_On_SQL_Tutorial
Internal_Project/datasets/*.csv
additional/
DAC-006_Machine_Learning/datasets/*.csv
.venv/
DAC-008_Intero_To_NLP/datasets/*.csv